/*index.html*/
.home-button{
padding: 15px;
margin-left: 0px !important; 
font-weight: 20 !important;
color:white !important;
background-color: teal;
text-align: center;
}


/*.home-button:hover{
	color:grey !important;
}*/

.highlight:hover{
color: white !important;
background-color: teal !important;
background-image: none;

}


body { 
	/*padding-left : 70px; */
background-color: lightgrey;
}


.summary-pic,.summary-text{
	display: inline;
}

/*.summary-text:hover{
	color:blue;
}*/

.summary-pic{
	width:75%;
	float:left;
}

/*.col-sm-8{
	padding:10px;
	margin-color: grey;

}*/

.pie-chart{
display: inline !important;
max-width: 400px;
max-height: 400px;
margin: 10px;
}

.all-pie-charts{
	text-align: center;
}

.pie-chart:hover{
	border: 3px solid grey;
}

.pie-chart:active{
border: 3px solid teal;
}

.anu-left,.anu-right{
	background-color: white;
	margin: 10px;
}

.anu-left{
	padding:30px;
}

/*convertcsv.html*/
.datatable{
padding:30px;
margin-top: 30px;
background-color: white;

}

.scroll{
height: 450px;
overflow-y: scroll;
overflow-x: scroll;
border: 2px solid teal;
}

thead{
	background-color: teal;
    color:white;
 }

/*viz1.html*/
.viz1{
margin: 5px;
padding: 20px;

}

.comparision-img{
display: inline;
float:left;
width: 70%;

}

/*active link*/
a { 
  position: relative;
}
a:active {
  top: 2px;
}


.footer-format{
background-color: teal;
color: white;
padding: 3px;
text-align: center;

}


/*.col-sm-8{
	padding: 10px;
}*/

/*over-writing bootstrap*/

/*@media (max-width: 480px) {
  .container {
    width: 450px;
  }
  body{
  	background-color: blue;
  }
}

@media (min-width: 481px) and (max-width: 780px){
	body{
		background-color: green;
	}
}
*/
